/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

/* reseting default browser styles */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*defining font  */
body {
  font-family: "Helvetica", sans-serif;
}


h2 {
  font-size: 3em;
}

/* navigation styles */
#nav {
  height: 5em;
  width: 100%;
  background-color: #fff;
}

#nav ul {
  float: right;
  text-align: center;
  list-style: none;
}

#nav ul li {
  display: inline;
  font-size: 1.6em;
  font-weight: lighter;
  margin-right: 1em;
}

.logo {
  float: left;
  width: auto;
  height: 4em;
  margin-left: 2em;
}

/* styles for the landing content */
#landing {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  height: 50em;
  text-align: center;
}

.txt {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

/*styles for main content */
#content {
  margin: 0 2em 0 2em;
}

.spotify {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-decoration-color: #00B172;
  text-underline-position: under;
}

#content h2 {
  align-content: center;
}

#features {
  display: flex;
  justify-content: space-evenly;
  margin-left: 5em;
}

.feat {
  width: 20%;
}

.feat p {
  font-size: 1.5em;
}
.feat h3 {
  font-size: 2em;
  color: #00B172;
}

#features img {
  width: auto;
  height: 6em;
}
#sample {
  background-color: #00B172;
  margin: 2em 0em 2em 0em;
}

.wrapper {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin: 2em 3em 2em 3em;
}
.wrapper h2,
h3,
p {
  color: #fff;
}
.wrapper h3 {
  font-size: 2em;
}

.wrapper p {
  font-size: 1.3em;
}

#sample_right {
  width: 20%;
  margin-top: 5em;
}
#sample_right img {
  height: 40em;
}

#sample_Left {
  width: 50%;
}
.imager {
  width: 10%;
  float: right;
  position: relative;
  bottom: 20em;
  left: -8em;
}

.imager img {
  width: 10em;
}
.inwrap {
  width: 40%;
}

#discover h2 {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-underline-position: under;
}
